.topbar
  // width: 80%
  -moz-box-shadow:    0 0 15px #595759 !important
  -webkit-box-shadow: 0 0 15px #595759 !important
  box-shadow:         0 0 15px #595759 !important
  padding-right: 30px
  padding-left: 50px

.with-sidenav
  padding-right: 180px !important

.top-nav
  min-width: 10px !important
  padding: 0 10px

.spacer
  flex: 1 1 auto

.attr
  font-size: 12px
  font-weight: lighter

.title
  font-size: 16px
  font-weight: bold
