<div class="sidebar">
  <div class="profile">
    <!-- <img class="profile-img" src="{{user.photoUrl}}" alt="userprofile">
    <div class="greet">
      <span class="lead">Welcome {{user.name}}!</span>
    </div> -->
  </div>
  <mat-divider></mat-divider>
  <nav class="sidenav">
    <ul class="nav-list">
      <a href="#">
      <li class="nav nav-selected">
        <mat-icon>dashboard</mat-icon>
        <div>
          <span class="nav-text">Dashboard</span>
        </div>
      </li></a>
      <a href="#" *ngFor="let n of [1,2,3,4]">
      <li class="nav">
        <mat-icon>home</mat-icon>
        <div>
          <span>Dashboard</span>
        </div>
      </li></a>
    </ul>
  </nav>
</div>
