<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle(sides)">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Angular</span>
  
  <div style="padding-left: 980px; ">
      <button mat-button [matMenuTriggerFor]="menu">Full Menu</button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item>Menu 1</button>
      <button mat-menu-item>Menu 2</button>
      </mat-menu>&nbsp;
      <button mat-icon-button>
          <!-- <label for="mat-button-icon" style="background-color: brown; width: 5px; height: 5px;">12</label> -->
      <mat-icon matBadge="12" matBadgeColor="warn">inbox</mat-icon>
      </button>&nbsp;
      <button mat-icon-button >
        <mat-icon mat-icon-button>supervised_user_circle</mat-icon>
      </button>
      </div>
  
</mat-toolbar>