<div class="example-container">
        <mat-form-field>
            <input matInput placeholder="No" [(ngModel)]="data.no" id="no">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Link Images or Default</mat-label>
            <input matInput placeholder="Images (LInk)" [(ngModel)]="data.images" id="images">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nama" [(ngModel)]="data.name" id="name">
        </mat-form-field>   
        <mat-form-field>
            <input matInput placeholder="Alamat" [(ngModel)]="data.address" id="address">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="No Telp" [(ngModel)]="data.no_telp" id="no_telp">
        </mat-form-field>
        <div mat-dialog-actions>
         <button mat-button (click)="NoClick()">Cancel</button>
         <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
        </div>
</div>