<!-- <mat-toolbar  color="primary"  class="fixed-header">
    <mat-toolbar-row>
        
      <button mat-icon-button mat-button (click)="sidenav.toggle()">
        <mat-icon mat-icon-button>menu</mat-icon>
     
      </button>
   
    <span>Angular</span>
    <a  mat-button  routerLink="/customer-list"  routerLinkActive="active"></a>
    <a  mat-button  routerLink="/customer-create"></a>
    <a  mat-button  routerLink="/login"></a>
    <mat-icon>visibility</mat-icon>
    
    <div style="right: 0px; padding-left: 800px;">
    <button mat-button [matMenuTriggerFor]="menu">Full Menu</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>Menu 1</button>
    <button mat-menu-item>Menu 2</button>
    </mat-menu>&nbsp;
    <button mat-icon-button >
        <label for="mat-button-icon" style="background-color: brown; width: 5px; height: 5px;">12</label>
    <mat-icon mat-icon-button>inbox</mat-icon>
    </button>&nbsp;
    <button mat-icon-button >
      <mat-icon mat-icon-button>supervised_user_circle</mat-icon>
    </button>
    </div>
    </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">

    </div> -->
    <app-nav></app-nav><br>


 
   
    <!-- <mat-toolbar color="primary" class="fixed-header">
        <div class="mat-toolbar-tools">
            <div layout="row">
                <i class="fa fa-users fa-2x" flex></i>
                <h1 class="mat-title" style="color:white">Org Chart</h1>
            </div>
            <span flex></span>
            <mat-fab-speed-dial mat-direction="left" ng-class="mat-fling">
                <mat-fab-trigger>
                    <mat-button aria-label="menu" class="mat-fab mat-accent">
                        <mat-tooltip>
                            Actions
                        </mat-tooltip>
                        <mat-icon mat-svg-src="img/icons/ic_view_module_48px.svg"></mat-icon>
                    </mat-button>
                </mat-fab-trigger>
                <mat-fab-actions>
                    <mat-button aria-label="view" class="mat-fab mat-raised mat-mini">
                        <mat-tooltip>
                            View Chart
                        </mat-tooltip>
                        <mat-icon mat-svg-src="" style="color:black" ng-show="cDP.read" ng-click="paneShowFn('read')"></mat-icon>
                    </mat-button>
                    <mat-button aria-label="add" class="mat-fab mat-raised mat-mini">
                        <mat-tooltip>
                            Add Chart
                        </mat-tooltip>
                        <mat-icon mat-svg-src="img/icons/ic_add_48px.svg" style="color:black" ng-show="cDP.insert" ng-click="paneShowFn('insert')"></mat-icon>
                    </mat-button>
                    <mat-button aria-label="Settings" class="mat-fab mat-raised mat-mini">
                        <mat-tooltip>
                            Security Access
                        </mat-tooltip>
                        <mat-icon mat-svg-src="img/icons/ic_add_48px.svg" style="color:black" ng-show="cDP.permission" ng-click="paneShowFn('permission')"></mat-icon>
                    </mat-button>
                    <mat-button aria-label="edit" class="mat-fab mat-raised mat-mini" style="color:black" ng-show="cDP.update" ng-click="paneShowFn('update')">
                        <mat-tooltip>
                            Edit Chart
                        </mat-tooltip>
                        <mat-icon mat-svg-src="img/icons/ic_edit_48px.svg" style="color:black"></mat-icon>
                    </mat-button>
                </mat-fab-actions>
            </mat-fab-speed-dial>
        </div>
    </mat-toolbar> -->