<div class="wrapper">
  <div class="nav">
      <mat-toolbar>
          <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon matSuffix>sort</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
          <button mat-button>
              <mat-icon matSuffix>keyboard_arrow_left</mat-icon>Back
          </button>
          <span class="my-10 title">KLEPON SHOP</span>
          <button mat-button><mat-icon>add_shopping_cart</mat-icon></button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
      </mat-toolbar> 
  </div>
  <div class="top">
      <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile> 
            <span>
              <h1 class="my-10">Welcome, Let's Shopping</h1><br>
              happy shopping in our shop. we provide for your lifestyle needed<br><br>
              <button mat-raised-button><h3>More Info</h3></button>
            </span>
          </mat-grid-tile>
          <mat-grid-tile>
            <img width="100%" [src]="carousel[i].url" [alt]="carousel[i].id">
          </mat-grid-tile>  
      </mat-grid-list>
      <div class="bottom-up">
        <span class="left"></span>
        <span class="right title"><h3 class="my-10">{{carousel[i].name}}</h3></span>
      </div>
      <div class="bottom-top">
        <div class="left">
          <button mat-button [matMenuTriggerFor]="menu">Product Details
              <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
        <div class="right title">
          <button mat-button (click)="backward()">
            <mat-icon matSuffix>arrow_back_ios</mat-icon>
          </button>
          <button mat-button (click)="forward()">
            <mat-icon matSuffix>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
  </div>
  <div class="title">
    <div class="middle" *ngFor="let button of buttons; let b=index">
      <button mat-button ><h4>{{button.name}}</h4></button>
      <span *ngIf="b < (buttons.length - 1)">{{button.split}}</span>
    </div>
  </div>
  <div class="bottom title">
    <div class="card" *ngFor="let item of [1,2,3,4,5,6,7,8,9]; let j=index">
            <app-item-card
            (click)="openDialog()"
              class="item-card center"
              [useDetails]="false"
              [useCartBtn]="false"
              [width]="180"
              [height]="300"
              [hImage]="250"
              [bgColor]="warna(j)"
              ></app-item-card>
    </div>
  </div>
  <div class="footer title">
    <button mat-button>CONTACT</button>/<button mat-button>MEDIA</button>/
    <button mat-button>LEGAL</button>/<button mat-button>COOKIES</button>
  </div>
</div>
