.wrapper
 width: 100%
 height: 100%
 align-items: center 
 background-color: #C0C0C0;

.top
 width: 100%
 height: 50%
 padding-top: 20px
 margin-bottom: 10px
 display: block
 color: white
 background-color: #3f51b5

//  .top-mat
//  position: fixed

.middle
 //width: 100%
 display: inline-block
 //padding: 10px

.bottom
 width: 100%
 //margin: auto

.card
  display: inline-block
  padding: 10px

.title
 margin: 0 auto
 text-align: center

.bottom-top
  width: 100%
  height: 150px
  //margin-top: 70px

.bottom-up
 width: 100%
 margin-top: 20px

.text-right
 margin: 0
 text-align: right

.left
 width: 50%
 align-content: left
 display: inline-block
 padding-left: 150px

.right
 width: 50%
 align-content: right
 display: inline-block
 margin-left: -150px

.footer
 width: 100%
 height: 100px
 //padding: 10px
 margin-top: 30px
