<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>

    <!-- Logo Column -->
    <ng-container matColumnDef="images">
        <th mat-header-cell *matHeaderCellDef> <mat-icon>supervisor_account</mat-icon></th>
        <td mat-cell *matCellDef="let element"> <img [src]="element.images" alt="" style="background-size: cover; border-radius: 50px; width: 35px; height: 35px;"> </td>
      </ng-container>
    
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="no_telp">
      <th mat-header-cell *matHeaderCellDef> No Telp </th>
      <td mat-cell *matCellDef="let element"> {{element.no_telp}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>