<div class="mat-elevation-z8 table-line">
    <p style="float: left; display: block; margin-left: 10px;">Data Users</p>
  <button mat-raised-button (click)="openDialog()" style="margin-top: 6px;"> Add Data</button>
<table class="mat-elevation-z8 table-line">
  <thead>
    <tr>
      <th style="width: 5px;">No</th>
      <th ><mat-icon>supervisor_account</mat-icon></th>
      <th >Name</th>
      <th >Address</th>
      <th >No.Telp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSource ">
      <td >{{ item.no }}</td>
      <td ><img [src]="item.images" alt="" style="background-size: cover; border-radius: 50px; width: 35px; height: 35px;"></td>
      <td >{{ item.name }}</td>
      <td >{{ item.address }}</td>
      <td >{{ item.no_telp }}</td>
      <!-- <td><a href="#" ng-click="delete($index)">Delete</a></td> -->
    </tr>
  </tbody>
  </table>
  </div>