<table class="mat-elevation-z8 table-line">
  <thead>
    <p style="text-align: left; margin: 16px;"><b> Recent Notification</b></p>
    <tr>
      <th style="height: 28px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataSource ">
      <td ><img [src]="item.images" alt="" style="background-size: cover; border-radius: 50px; width: 35px; height: 35px;"></td>
      <td style="text-align: left;">{{ item.name }}
        <br>
        {{ item.address }}
      </td>
      <td></td>
      <td></td>

 
  
      <!-- <td><a href="#" ng-click="delete($index)">Delete</a></td> -->
    </tr>
  </tbody>
  </table>