<mat-drawer-container class="wrapper" autosize>
  <mat-drawer #sidenav class="sidebar" mode="side" opened>
    <app-sidebar class="sidebar"></app-sidebar>
  </mat-drawer>

  <div class="fixed-top i-2">
    <div class="i-3">
      <button (click)="sidenavToggle(sidenav)" mat-raised-button color="primary">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <app-topbar class="i-3 topbar"></app-topbar>
    <app-breadcrumb class="i--1 breadcrumb"></app-breadcrumb>
  </div>

  <main class="i--1 content">
    <article>
      <!-- <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13]">
        <mat-card>Simple Card</mat-card>
      </div> -->
    </article>
  </main>
</mat-drawer-container>
