.sidebar
  // position: fixed
  overflow: hidden
  z-index: 1
  padding: 0
  margin: 0
  background: #6a6a6a

// .content
//   // position: relative
//   height: 100%
//   align-items: flex-start
//   justify-content: flex-start
.content
  max-height: 80vh
  overflow: auto
  margin: 10px

.collapse-btn
  position: absolute
  top: 15px
  left: -3px
  z-index: 1
  padding: 0
  min-width: 20px
  width: 40px
