<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <button class="buttonr" mat-button> <mat-icon>view_quilt</mat-icon> Dashboard </button>
      <mat-nav-list class="sider" style="border: black;">
          <a mat-list-item href="#"><mat-icon>settings</mat-icon>&nbsp;UI</a>
          <a mat-list-item href="#"><mat-icon>insert_chart</mat-icon>&nbsp;Chart</a>
          <a mat-list-item href="#"><mat-icon>phonelink</mat-icon>&nbsp;Form</a>
          <a mat-list-item href="#"><mat-icon>computer</mat-icon>&nbsp;Tables</a>
          <a mat-list-item href="#"><mat-icon>developer_board</mat-icon>&nbsp;Grid</a>
          <a mat-list-item href="#"><mat-icon>toys</mat-icon>&nbsp;Color</a>
          <a mat-list-item href="#"><mat-icon>help</mat-icon>&nbsp;Helper Class</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Angular</span>
        
        <div style="right: 0px; padding-left: 800px; position: fixed;">
            <button mat-button [matMenuTriggerFor]="menu">Full Menu</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item>Menu 1</button>
            <button mat-menu-item>Menu 2</button>
            </mat-menu>&nbsp;
            <button mat-icon-button >
                <!-- <label for="mat-button-icon" style="background-color: brown; width: 5px; height: 5px;">12</label> -->
            <mat-icon mat-icon-button matBadge="12" matBadgeColor="warn">inbox</mat-icon>
            </button>&nbsp;
            <button mat-icon-button >
              <mat-icon mat-icon-button>supervised_user_circle</mat-icon>
            </button>
            </div>
        
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
