<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
      <mat-toolbar color="primary">Menu</mat-toolbar>
      <button class="buttonr" mat-button> <mat-icon>view_quilt</mat-icon> Dashboard </button>
      <mat-nav-list class="sider" style="border: black;">
          <a mat-list-item (click)="setIsinya(menu.name)" *ngFor="let menu of menus"><mat-icon>{{menu.icon}}</mat-icon>&nbsp; {{menu.name}} </a>
      </mat-nav-list>
      <mat-toolbar style="border-top: 1px solid #555">Quick Link</mat-toolbar>
      <mat-nav-list class="sider" style="border: black;">
          <a mat-list-item (click)="setIsinya(menu.name)" *ngFor="let menu of menusb"><mat-icon>{{menu.icon}}</mat-icon>&nbsp; {{menu.name}} </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="position: fixed;">
      <!-- TOp Bar -->
      
      <mat-toolbar color="primary" >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawerToggle(drawer)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Angular</span>
        <span class="spacers"></span>
        <div mat-icon-button >
            <button mat-button [matMenuTriggerFor]="menu">Full Menu</button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item>Menu 1</button>
            <button mat-menu-item>Menu 2</button>
            </mat-menu>&nbsp;
            <button mat-icon-button>
                <!-- <label for="mat-button-icon" style="background-color: brown; width: 5px; height: 5px;">12</label> -->
            <mat-icon matBadge="12" matBadgeColor="warn">inbox</mat-icon>
            </button>&nbsp;
            <button mat-icon-button >
              <mat-icon mat-icon-button>supervised_user_circle</mat-icon>
            </button>
            </div>
        
      </mat-toolbar>
      <!-- Add Content Here -->
      <app-cardh [hasil]="isinya"></app-cardh>
    </mat-sidenav-content>
  </mat-sidenav-container>
