.card
  font-family: Roboto,"Helvetica Neue",sans-serif

.header
  margin: 0
  display: flex
  align-items: center
  justify-content: center

.name
  display: block
  text-align: left
  vertical-align: middle
  color: #9e9e9e

.info
  text-align: right
  justify-content: flex-end

.block
  display: block

.unit
  font-size: .6em
  font-weight: 400
  color: gray

.discount
  font-size: .7em
  font-weight: 400
  text-decoration: line-through
  color: gray

.price
  font-size: .8em
  font-weight: bold
  color: black

.image
  margin-top: 10px
  display: flex
  justify-content: center
  align-items: center

.details
  margin-top: 10px

.footer
  display: flex
  justify-content: center
  align-items: center

.grid-container 
  margin: 20px

.dashboard-card
  position: absolute
  top: 15px
  left: 15px
  right: 15px
  bottom: 15px

.more-button
  position: absolute
  top: 5px
  right: 10px

.dashboard-card-content
  text-align: center

.grid-c
  // margin-left: 35px
  // // display: grid
  // grid-template-columns: repeat(2, auto)
  // flex: 1 1 auto
  // grid-gap: 30px 30px
  width: 100%
  margin: 0 auto
  text-align: center
  margin-bottom: 10px
  // display: grid
  // grid-template-columns: auto
  // padding: 4em 1em

.grid-itema-l
  display: inline-block
  // align-self: auto
  width: 50%
  padding: 5px
.grid-itema-r
  display: inline-block
  width: 30%
  padding: 5px


  // list-style-type: none
  // margin: 0
  // padding: 0
  // grid-template-columns: repeat(3, auto)
  // grid-template-rows: repeat(2, auto)

.example-container 
  display: flex
  flex-direction: column

.example-container > * 
  width: 30%
