
<div class="grid-container">  
    <h1 class="mat-h1">Dashboard</h1>  
    <app-cardup></app-cardup>
    <mat-grid-list cols="2" rowHeight="350px">  
      <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">  
        <mat-card class="dashboard-card">  
          <mat-card-header>  
            <mat-card-title>  
                <b> {{hasil}} </b>
            </mat-card-title>  
          </mat-card-header>  
          <mat-card-content class="dashboard-card-content">  
              
          </mat-card-content>  
        </mat-card>  
      </mat-grid-tile>  
    </mat-grid-list>  
  </div>
  <div class="grid-c">
    <app-tablec class="grid-itema-l"></app-tablec>
    <span class="spacer"></span>
    <app-tablen class="grid-itema-r"></app-tablen>
  </div>  
